
.center-input{
text-align: center;
  margin-top: 50px;

}
.center-button{
  margin-bottom: 1%;
  text-align: center;

}

.cities{
  margin-top: 100px;
  text-align: center;
  vertical-align: center;
  width:100%;
  background-color: lightskyblue;
  justify-content: space-around;

  display: flex;
}

.city{
  padding:20px;
  margin: 10px;
  border: 1px solid #d8dbe1;
  background-color: white;




}
.cities-city {
  min-width: 120px;
 margin:10px;
  position: center;

}



.images{
  max-height: 30px;
  max-width: 30px;
  text-align: center;
  vertical-align: middle;


}




