<div class="center-input">
      <label>Miasto:</label>
      <input type="text" [(ngModel)]="nazwaMiasta">
      <br/><button (click)="zapytaniePogoda()">Dodaj</button>
      <br/><button (click)="wyczyscLS()">Wyczyść</button>
    </div>

    <div class="cities">

      <div class="city" *ngFor="let weather of miasta">

        <div style="text-align: center"><img src="../../assets/icons/{{weather.RootObject.weather[0].icon}}@2x.png"/></div>
        <div class="cities-city"><img class="images"/>Miasto: {{weather.nazwaMiasta}}</div>
        <div class="cities-city"><img class="images"/>Temperatura: {{(weather.RootObject.main.temp - 273.15).toFixed(0)}}</div>
        <div class="cities-city"><img class="images"/>Wilgotność: {{weather.RootObject.main.humidity}}</div>
      </div>
    </div>

